#footer-links {
  text-align: center;
  list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}
.center .default {
	text-align: center;
}
.left .default {
	text-align: left;
}
.right .default {
	text-align: right;
}
